---
layout: default
title: CSS Shape Tools
lead: Making <a href="http://dev.w3.org/csswg/css3-exclusions/">CSS Shapes and Exclusions</a> even easier.
shapetest: true
items: 
 - 
  span: span4
  icon: icon-bookmark
  name: Show Shapes
  content: |
   <p>This bookmarklet will display the CSS shapes on a page. You can drag it up to your bookmarks bar to start using it immediately, or check out the Show Shapes page for more information.<p>
   <p><a class="btn" href="javascript:(function(){if(window.ShowShapes){window.ShowShapes.toggleOverlay()}else{var s=document.body.appendChild(document.createElement('script'));s.src='http://betravis.github.io/shape-tools/show-shapes/ss.js';s.onload=function(){window.ShowShapes.toggleOverlay();}}})();">Bookmarklet</a>
   <a class='btn btn-primary' href='show-shapes/'>More Info</a></p>
 - 
  span: span4
  icon: icon-cogs
  name: Path to Poly
  content: |
   <p>Use SVG paths to generate CSS polygons appropriate for use with shape-inside and shape-outside.
   <p><a class='btn btn-primary' href='path-to-polygon/'>Try It Out</a></p>
 - 
  span: span4
  icon: icon-pencil
  name: Poly Draw
  content: |
   <p>Try your hand at creating a shape-inside by hand using this interactive tool.</p>
   <p><a class='btn btn-primary' href='polygon-drawing/'>Try It Out</a></p>
 - 
  span: span4
  icon: icon-align-justify
  name: Hyphenator
  content: |
   <p>Add soft hyphens to text to make content more closely fit to its bounding area.</p>
   <p><a class='btn btn-primary' href='hyphenator/'>Try It Out</a></p>
---
{% include jumbotron.html %}
<ul class='thumbnails'>
    {% for item in page.items %}{% include thumbnail.html %}{% endfor %}
</ul>
